In [4]:
# Create list of zeros

import numpy as np

In [5]:
N = 100000

In [6]:
%%timeit
x = np.zeros(N)
for i in range(len(x)):
    x[i] = i

6.63 ms ± 209 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [7]:
%%timeit
y = [0 for i in range(N)]
for i in range(len(y)):
    y[i] = i

3.68 ms ± 19.7 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [8]:
%%timeit
y = []
for i in range(N):
    y.append(i)

2.28 ms ± 65.1 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [9]:
x = range(N)
x_set = set(x)

In [10]:
%%timeit
999 in x

55.2 ns ± 0.456 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

In [11]:
%%timeit
999 in x_set

19.4 ns ± 0.139 ns per loop (mean ± std. dev. of 7 runs, 100,000,000 loops each)

In [12]:
F = lambda x: x * x + 1
F(5)

26

In [13]:
F = lambda x, y: x * x + y
F(5, 2)

27

In [14]:
F = lambda x: x * x + 1
x = [1, 2, 3, 4, 5]

y = map(F, x)
list(y)

[2, 5, 10, 17, 26]

In [15]:
import polars as pl

# Create a DataFrame
df = pl.DataFrame(
    {
        "name": ["Alice", "Bob", "Charlie"],
        "age": [25, 30, 35],
        "city": ["New York", "Los Angeles", "Chicago"],
    }
)

print(df)

shape: (3, 3)
┌─────────┬─────┬─────────────┐
│ name    ┆ age ┆ city        │
│ ---     ┆ --- ┆ ---         │
│ str     ┆ i64 ┆ str         │
╞═════════╪═════╪═════════════╡
│ Alice   ┆ 25  ┆ New York    │
│ Bob     ┆ 30  ┆ Los Angeles │
│ Charlie ┆ 35  ┆ Chicago     │
└─────────┴─────┴─────────────┘

In [16]:
# Select specific columns
selected_columns = df.select(["name", "city"])
print(selected_columns)

# Filter rows based on a condition
filtered_df = df.filter(pl.col("age") > 28)
print(filtered_df)

# Add a new column
df = df.with_column(pl.col("age") + 1)
print(df)

# Group by and aggregate
df_grouped = df.groupby("city").agg([pl.col("age").mean().alias("average_age")])
print(df_grouped)

shape: (3, 2)
┌─────────┬─────────────┐
│ name    ┆ city        │
│ ---     ┆ ---         │
│ str     ┆ str         │
╞═════════╪═════════════╡
│ Alice   ┆ New York    │
│ Bob     ┆ Los Angeles │
│ Charlie ┆ Chicago     │
└─────────┴─────────────┘
shape: (2, 3)
┌─────────┬─────┬─────────────┐
│ name    ┆ age ┆ city        │
│ ---     ┆ --- ┆ ---         │
│ str     ┆ i64 ┆ str         │
╞═════════╪═════╪═════════════╡
│ Bob     ┆ 30  ┆ Los Angeles │
│ Charlie ┆ 35  ┆ Chicago     │
└─────────┴─────┴─────────────┘

AttributeError: 'DataFrame' object has no attribute 'with_column'

In [ ]:
# Define the custom exception class
class NewException(Exception):
    """Custom exception class for specific error handling"""

    def __init__(self, message, errors=None):
        # Call the base class constructor with the parameters it needs
        super().__init__(message)

        # Now for your custom code...
        self.errors = errors


# Example of raising the custom exception
try:
    raise NewException(
        "This is a custom exception",
        errors={"code": 123, "detail": "Sample error detail"},
    )
except NewException as e:
    print(f"Caught an exception: {e}")
    print(f"Error details: {e.errors}")

Caught an exception: This is a custom exception
Error details: {'code': 123, 'detail': 'Sample error detail'}

In [ ]:
from datetime import date
from uuid import UUID, uuid4
from enum import Enum
from pydantic import BaseModel, EmailStr


class Department(Enum):
    HR = "HR"
    SALES = "SALES"
    IT = "IT"
    ENGINEERING = "ENGINEERING"


class Employee(BaseModel):
    employee_id: UUID = uuid4()
    name: str
    email: EmailStr
    date_of_birth: date
    salary: float
    department: Department
    elected_benefits: bool

    class Config:
        json_schema_extra = {
            "example": {
                "name": "John",
                "email": "jdoe@me.com",
                "date_of_birth": "1987-04-22",
                "salary": 100000.0,
                "department": "IT",
                "elected_benefits": True,
            }
        }

    def return_age(self):
        today = date.today()
        age = today.year - self.date_of_birth.year
        if today < date(today.year, self.date_of_birth.month, self.date_of_birth.day):
            age -= 1
        return age

    def __repr__(self):
        return f"Employee(name={self.name}, email={self.email}, date_of_birth={self.date_of_birth}, salary={self.salary}, department={self.department}, elected_benefits={self.elected_benefits})"

    def __str__(self):
        return self.__repr__()

    def __hash__(self):
        return hash(
            (
                self.name,
                self.email,
                self.date_of_birth,
                self.salary,
                self.department,
                self.elected_benefits,
            )
        )

    def __eq__(self, other):
        return self.__dict__ == other.__dict__

    def __add__(self, other):
        return Employee(
            name=self.name + other.name,
            email=self.email,
            date_of_birth=self.date_of_birth,
            salary=self.salary + other.salary,
            department=self.department,
            elected_benefits=self.elected_benefits,
        )

In [ ]:
e1 = Employee(
    name="John",
    email="jdoe@me.com",
    date_of_birth=date(1987, 4, 22),
    salary=100000.0,
    department=Department.IT,
    elected_benefits=True,
)

e2 = Employee(
    name="Johnny",
    email="jdoe@me.com",
    date_of_birth=date(1990, 1, 1),
    salary=100000.0,
    department=Department.IT,
    elected_benefits=True,
)

print(e1 == e2)

print(e1 + e2)

False
Employee(name=JohnJohnny, email=jdoe@me.com, date_of_birth=1987-04-22, salary=200000.0, department=Department.IT, elected_benefits=True)

In [ ]:
e1.return_age()

37

In [2]:
import pandera as pa

schema = pa.DataFrameSchema({
    "Year": pa.Column(int), 
    "India": pa.Column(float), 
    "United States of America": pa.Column(float) 
})

In [5]:
from pydantic import BaseModel
from typing import Optional
from datetime import datetime

class Weather(BaseModel):
    datetime: datetime
    temperature: float
    humidity: Optional[float] = None
    wind_speed: Optional[float] = None
    description: Optional[str] = None

sample = Weather(datetime="2022-01-01", temperature=20.0, humidity=50.0, wind_speed=10.0, description="Sunny")

sample.datetime

datetime.datetime(2022, 1, 1, 0, 0)